html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
}

.text-decoration-none {
    position: relative;
    text-decoration: none;
    display: inline-block;
}

.text-decoration-none::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: #4F617D;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.text-decoration-none:hover::after {
    transform: scaleX(1);
}

.header-font {
    font-family: 'Cutive', serif;
    color: #ffffff;
}

.button-font {
    font-family: 'Playfair Display', serif;
}

.font-custom-1 {
    font-family: 'Permanent Marker', cursive;
}

.font-custom-2 {
    font-family: 'Pacifico', cursive;
}