.text-decoration-none {
    position: relative;
    text-decoration: none;
    display: inline-block;
}

.text-decoration-none::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: #4F617D;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.text-decoration-none:hover::after {
    transform: scaleX(1);
}

.header-font {
    font-family: 'Cutive', serif;
    color: #ffffff;
}

.font-custom-1 {
    font-family: 'Permanent Marker', cursive;
}

.font-custom-2 {
    font-family: 'Pacifico', cursive;
}