@tailwind base;
@tailwind components;
@tailwind utilities;

/* Прамахва  autofill background цвета на полетата при попълване*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px transparent inset !important; /* Голям inset сянка, за да премахнем фона */
    -webkit-text-fill-color: white !important; /* Цвят на текста */
    transition: background-color 5000s ease-in-out 0s !important; /* Преход за фона */
    background-color: transparent !important; /* Прозрачен фон */
}